{% extends "index.html" %}

{% block sidebar%}
   {{ block.super }}
{% endblock %}

{% block content %}
   <div class="container my-1">
      <p>
         <b>T3ph</b> is meant to be an extensible table-top 
	 roleplaying game handler written in Python that 
	 automates most of the data recording normally done on 
	 paper, and the data processing handled by dice rolling. 
	 It is both a system in its own right, and a method to 
	 implement different settings using rules that can be 
	 as simple or in-depth as you'd like.
      </p>
   </div>
{% endblock %}
